-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: adamjaya_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `favorit_pembeli`
--

DROP TABLE IF EXISTS `favorit_pembeli`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `favorit_pembeli` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `nama_pembeli` varchar(150) NOT NULL,
  `telepon_pembeli` varchar(50) DEFAULT NULL,
  `alamat_pembeli` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `favorit_pembeli_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `favorit_pembeli`
--

LOCK TABLES `favorit_pembeli` WRITE;
/*!40000 ALTER TABLE `favorit_pembeli` DISABLE KEYS */;
/*!40000 ALTER TABLE `favorit_pembeli` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jenis_barang`
--

DROP TABLE IF EXISTS `jenis_barang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jenis_barang` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `barang_id` int(11) NOT NULL,
  `nama_jenis` varchar(150) NOT NULL,
  `stok` decimal(10,2) NOT NULL DEFAULT 0.00,
  `satuan` varchar(50) NOT NULL DEFAULT 'pcs',
  `harga` decimal(15,2) NOT NULL DEFAULT 0.00,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `barang_id` (`barang_id`),
  CONSTRAINT `jenis_barang_ibfk_1` FOREIGN KEY (`barang_id`) REFERENCES `stok_barang` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=784 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jenis_barang`
--

LOCK TABLES `jenis_barang` WRITE;
/*!40000 ALTER TABLE `jenis_barang` DISABLE KEYS */;
/*!40000 ALTER TABLE `jenis_barang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengajuan`
--

DROP TABLE IF EXISTS `pengajuan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengajuan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `custom_id` varchar(50) NOT NULL,
  `user_id` int(11) NOT NULL,
  `jenis_pengajuan` varchar(50) NOT NULL DEFAULT 'stok',
  `status_pembayaran` varchar(50) NOT NULL DEFAULT 'belum_dibayar',
  `jumlah_dibayar` decimal(15,2) NOT NULL DEFAULT 0.00,
  `sisa_pembayaran` decimal(15,2) NOT NULL DEFAULT 0.00,
  `status_pengiriman` enum('belum_dikirim','sudah_dikirim') NOT NULL DEFAULT 'belum_dikirim',
  `bukti_transfer` varchar(255) DEFAULT NULL,
  `bukti_tunai` varchar(255) DEFAULT NULL,
  `bukti_pembelian` varchar(255) DEFAULT NULL,
  `estimasi_dana` varchar(100) DEFAULT NULL,
  `nama_pembeli` varchar(150) DEFAULT NULL,
  `telepon_pembeli` varchar(50) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `custom_id` (`custom_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `pengajuan_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1554 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengajuan`
--

LOCK TABLES `pengajuan` WRITE;
/*!40000 ALTER TABLE `pengajuan` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengajuan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengajuan_detail`
--

DROP TABLE IF EXISTS `pengajuan_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengajuan_detail` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pengajuan_id` int(11) NOT NULL,
  `is_custom` tinyint(1) NOT NULL DEFAULT 0,
  `jenis_id` int(11) DEFAULT NULL,
  `nama_barang` varchar(150) NOT NULL,
  `nama_jenis` varchar(150) DEFAULT NULL,
  `jumlah` decimal(10,2) NOT NULL DEFAULT 1.00,
  `satuan` varchar(50) NOT NULL DEFAULT 'pcs',
  `harga_satuan` decimal(15,2) NOT NULL DEFAULT 0.00,
  PRIMARY KEY (`id`),
  KEY `pengajuan_id` (`pengajuan_id`),
  KEY `jenis_id` (`jenis_id`),
  CONSTRAINT `pengajuan_detail_ibfk_1` FOREIGN KEY (`pengajuan_id`) REFERENCES `pengajuan` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pengajuan_detail_ibfk_2` FOREIGN KEY (`jenis_id`) REFERENCES `jenis_barang` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=1769 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengajuan_detail`
--

LOCK TABLES `pengajuan_detail` WRITE;
/*!40000 ALTER TABLE `pengajuan_detail` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengajuan_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengeluaran_detail`
--

DROP TABLE IF EXISTS `pengeluaran_detail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengeluaran_detail` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pengeluaran_id` int(11) NOT NULL,
  `nama_item` varchar(150) NOT NULL,
  `kategori` varchar(100) NOT NULL DEFAULT 'Operasional',
  `jumlah` decimal(10,2) NOT NULL DEFAULT 1.00,
  `satuan` varchar(50) NOT NULL DEFAULT 'unit',
  `harga_satuan` decimal(15,2) NOT NULL DEFAULT 0.00,
  `total_harga` decimal(15,2) NOT NULL DEFAULT 0.00,
  PRIMARY KEY (`id`),
  KEY `pengeluaran_id` (`pengeluaran_id`),
  CONSTRAINT `pengeluaran_detail_ibfk_1` FOREIGN KEY (`pengeluaran_id`) REFERENCES `pengeluaran_header` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengeluaran_detail`
--

LOCK TABLES `pengeluaran_detail` WRITE;
/*!40000 ALTER TABLE `pengeluaran_detail` DISABLE KEYS */;
INSERT INTO `pengeluaran_detail` VALUES (1,1,'Listrik PLN Bulan Juli','Utility',1.00,'bulan',850000.00,850000.00),(2,1,'Internet Biznet 100Mbps','Utility',1.00,'bulan',400000.00,400000.00);
/*!40000 ALTER TABLE `pengeluaran_detail` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengeluaran_header`
--

DROP TABLE IF EXISTS `pengeluaran_header`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengeluaran_header` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `custom_id` varchar(50) NOT NULL,
  `tanggal` date NOT NULL,
  `total_pengeluaran` decimal(15,2) NOT NULL DEFAULT 0.00,
  `keterangan` text DEFAULT NULL,
  `user_id` int(11) NOT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `custom_id` (`custom_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `pengeluaran_header_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengeluaran_header`
--

LOCK TABLES `pengeluaran_header` WRITE;
/*!40000 ALTER TABLE `pengeluaran_header` DISABLE KEYS */;
INSERT INTO `pengeluaran_header` VALUES (1,'EXP-20260802-001','2026-08-02',1250000.00,'Tagihan Listrik & Internet Kantor',1,'2026-08-02 09:00:00'),(14,'PGL-14','2025-11-07',0.00,'',75,'2025-11-08 02:59:04');
/*!40000 ALTER TABLE `pengeluaran_header` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `riwayat_cicilan`
--

DROP TABLE IF EXISTS `riwayat_cicilan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `riwayat_cicilan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pengajuan_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `nominal_bayar` decimal(15,2) NOT NULL DEFAULT 0.00,
  `metode_pembayaran` varchar(50) DEFAULT 'Cash',
  `sisa_sebelum` decimal(15,2) NOT NULL DEFAULT 0.00,
  `sisa_sesudah` decimal(15,2) NOT NULL DEFAULT 0.00,
  `catatan` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `pengajuan_id` (`pengajuan_id`),
  KEY `user_id` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `riwayat_cicilan`
--

LOCK TABLES `riwayat_cicilan` WRITE;
/*!40000 ALTER TABLE `riwayat_cicilan` DISABLE KEYS */;
/*!40000 ALTER TABLE `riwayat_cicilan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `riwayat_stok`
--

DROP TABLE IF EXISTS `riwayat_stok`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `riwayat_stok` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `jenis_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `perubahan` decimal(10,2) NOT NULL,
  `stok_sebelum` decimal(10,2) NOT NULL,
  `stok_sesudah` decimal(10,2) NOT NULL,
  `aksi` varchar(50) NOT NULL,
  `keterangan` text DEFAULT NULL,
  `tanggal` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `jenis_id` (`jenis_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `riwayat_stok_ibfk_1` FOREIGN KEY (`jenis_id`) REFERENCES `jenis_barang` (`id`) ON DELETE CASCADE,
  CONSTRAINT `riwayat_stok_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1916 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `riwayat_stok`
--

LOCK TABLES `riwayat_stok` WRITE;
/*!40000 ALTER TABLE `riwayat_stok` DISABLE KEYS */;
/*!40000 ALTER TABLE `riwayat_stok` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stok_barang`
--

DROP TABLE IF EXISTS `stok_barang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stok_barang` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_barang` varchar(150) NOT NULL,
  `jumlah` int(11) DEFAULT 0,
  `gambar` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=366 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stok_barang`
--

LOCK TABLES `stok_barang` WRITE;
/*!40000 ALTER TABLE `stok_barang` DISABLE KEYS */;
/*!40000 ALTER TABLE `stok_barang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','CEO') NOT NULL DEFAULT 'admin',
  `no_telepon` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `lokasi` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=86 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-16 20:13:09
